@import '~sass/variables';

.app-wrapper{
  height: 100%;
  width: 100%;
}

.page-wrapper{
  background: $main-color;
  transition: padding 150ms ease;
  padding: 0 21%;
  min-height: 256px;
}



@media only screen and (max-width: 1000px) {
  .page-wrapper{
    padding: 0 26%;
  }
}
@media only screen and (max-width: 892px) {
  .page-wrapper{
    padding: 0 29%;
  }
}

