<div class="page where-to-begin">
  <div class="title">
    <span>Что это?</span>
  </div>
  <div class="description">
    <span>Это очень удобный сервис для работы с вашим GitHub аккаунтом.</span>
    <span>Более удобный просмотр репозиториев и проблем в проектах, более удобное отслеживание запросов на обновление проектов. А также статистика работы и вычисление процента работы с вашими проектами</span>
    <span>Не думаю, что стоит всё тут описывать, проще попробовать и решить будете ли Вы пользоваться им или нет :) </span>
  </div>
</div>
